@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items:center;  
  justify-content:center;
  font-family: 'Ubuntu', sans-serif;
  background-image: radial-gradient(farthest-corner at 40px 40px,rgb(6, 5, 5) 0%, rgb(7, 7, 8) 100%);
}
.container {
  margin-top: 700px;
  height: 100vh;
  background-image: radial-gradient(farthest-corner at 40px 40px,rgb(6, 5, 5) 0%, rgb(7, 7, 8) 100%); 
}
.flip-card-outer {
  width: 300px;
  height: 400px;
  margin: 25px 0;

  &.focus-trigger:focus {
    outline: 5px solid greenyellow;
    outline-offset: 5px;
  }

  .flip-card-inner {
    transform-style: preserve-3d;
    transition: .5s linear .1s;
    position: relative;
    width: inherit;
    height: inherit;    
    &.hover-trigger:hover {
      transform: rotateY(180deg);
    }

    &.showBack {
      transform: rotateY(180deg);
    }
  
    .card {
      scroll-snap-align: start;
      // width: 300px;
      // height: 400px;
      margin: 25px 0;
      margin: 0 20px;
      list-style: none;  
      border-radius: 8px;
      display: flex;
      cursor: pointer;  
      padding-bottom: 15px;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: transparent; /* Remove any background color */
      border: none; /* Remove any border */
      box-shadow: none; /* Remove any box-shadow if applied */
      backface-visibility: hidden;
      position: absolute;
      top: 8px;
      left: -20px;
      width: 100%;
      height: 100%;
  
      &.front {
        transform: rotateY(0);
        background-image: radial-gradient(farthest-corner at 40px 40px,rgb(6, 5, 5) 0%, rgb(7, 7, 8) 100%);
      }
  
      &.back {
        transform: rotateY(180deg);
        // -webkit-filter: blur(5px);
        // filter: blur(5px);
        background-image: radial-gradient(farthest-corner at 40px 40px,rgb(6, 5, 5) 0%, rgb(7, 7, 8) 100%);
      }
    }
  }
}
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;

}
.wrapper i {//buttons
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 2rem;
  font-weight:bold;
  position: absolute;  
  padding-left: 13px;
  line-height: 45px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;  
  color:rgb(0, 0, 0);
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -50px;
}

.wrapper i:last-child {
  right: -50px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3));
  gap: 25px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
  margin-left: 30px;  
  margin-top: 40px;
}

.carousel::-webkit-scrollbar {
  display: none;  
}

.carousel :where(.card, .img) {//background of card doing bakchodi
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: radial-gradient(farthest-corner at 40px 40px,
  rgb(6, 5, 5) 0%, rgb(7, 7, 8) 100%);
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel .card {
  scroll-snap-align: start;
  width: 300px;
  height: 400px;
  margin: 25px 0;
  margin: 0 20px;
  list-style: none;  
  border-radius: 8px;
  display: flex;
  cursor: pointer;  
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card .img {
  background: green;
  width: 145px;
  height: 145px;
  border-radius: 50%;
}

.card .img img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;  
  border: 4px solid #ffffff;
}

.card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 30px 0 5px;
}

.card span {
  color: #6a6d78;
  font-size: 1.31rem;

}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
      grid-auto-columns: 100%;
  }
}
.card {
  scroll-snap-align: start;
  width: 300px;
  height: 400px;
  margin: 25px 0;
  margin: 0 20px;
  list-style: none;  
  border-radius: 8px;
  display: flex;
  cursor: pointer;  
  padding-bottom: 15px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent; /* Remove any background color */
  border: none; /* Remove any border */
  box-shadow: none; /* Remove any box-shadow if applied */
}
.fg{
  -webkit-filter: blur(25px);
        filter: blur(25px);

}
.card-msg{
  color: #718096;
  font-size: 1rem;
  line-height: 1.5;
}